extends layout

block content
  h1#content Status : #{title}
  script.
        setInterval(function(){ 
            var req = new XMLHttpRequest();
            req.open("GET","/results");
            req.onreadystatechange = function(){
                if(req.readyState == 4){
                    document.getElementById("content").innerHTML = "Status : " + req.responseText;
                }
            }
            req.send(); 
        }, 5000);
        